[Unit]
Description=WM8960 soundcard service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/wm8960-soundcard
RemainAfterExit=yes
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=60
StartLimitBurst=3
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target